.App {
  text-align: center;
  background-image: url('./assets/Animated\ Shape (1).svg');
  color: white;
  background-size: cover;
  /* min-height: 100%; */
}
html, body, #root, .App {
  height: 110%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weatherIcon {
  position: relative;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {bottom: 0px; filter: brightness(100%);} 
  50% {bottom: 6px; filter: brightness(110%);}
 100% {bottom: 0px; filter: brightness(100%);}
}

.ui.segment {
  border: none !important;
  background: transparent !important;
  z-index: +2;
}
